.Rproj.user
.Rhistory
.RData
.Ruserdata
survivalVignettes.Rproj
vignettes/*.log
vignettes/*.tex
vignettes/*.toc
vignettes/*.bbl
vignettes/*.synctex.gz
vignettes/figures
vignettes/pseudo_files
.hg
vignettes/*.html
/doc/
/Meta/
temp
